PORT=3000
DB_HOST=43.205.46.211
DB_PORT=3306
DB_USER=sta_dc_user
DB_PASSWORD=OZQQP@VgZM=+K^5
DB_NAME=material_register

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
